.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
    
    z-index: 1111;

    padding: 20px;
    
    overflow: auto;
}

.myModal__content {
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 250px;    
    text-align: center;

    overflow: auto;

    max-height: calc(100% - 60px);
}

.myModal__active {
    display: flex;
    justify-content: center;
    align-items: center;
}