.MyButton {
    color: white;
    background: linear-gradient(90deg, #141b9f, #e3010d);
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 22px;
    min-width: 120px;
    font-weight: 400;
    min-height: 45px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

